@import url('https://fonts.googleapis.com/css2?family=Roboto&family=Roboto+Condensed&display=swap');

/* Just clearing these out to a default position for the whole site before any styling is applied */
*{
    margin:0;
    padding:0;
    border:0;
}

html {
    box-sizing: border-box;
  }
  
  *, *::before, *::after {
    box-sizing: inherit;
    margin: 0;
    padding: 0;
  }


/* Give the body a font family and a color */
body {
    font-family: Roboto Condensed, sans-serif;
    color: #000;
}

/* Give the headings a font family etc*/
h1,
h2 {
    font-family: Roboto, sans-serif;
    color: #000;
    letter-spacing: 4px;
}

.site-flex-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin: 0 30px;
    height: 100px;
}

.site-flex-header {
    font-size: 250%;
    text-decoration: none;
    font-weight: 600;
    color: #000;
    margin-left: 20px;

}

.site-flex-header a {
    display: flex;
    text-decoration: none;
    font-weight: 600;
    color: #000;
}

.site-flex-list {
    margin-left: auto;
}

.site-flex-list ul {
    display: flex;
    flex-direction: row;
    list-style: none;
    font-size: 150%;
    font-weight: 600; 
    gap: 20px;
}

.site-flex-list a {
    text-decoration: none;
    color: #000;
}

.site-flex-list a:hover {
    border-bottom: 1px solid #000;
}

.active {
    border-bottom: 1px solid #000;
}

/*Hero Image */

#opaqueit {
    width: 100%;
    height: 75px;
    position: relative;
    background: rgba(255, 255, 255, 0.35);
    z-index: 5;
    margin-top: -100px;
}

#hero-image-outer {
    height: 700px;
    overflow: visible;
}

#hero-image {
    height: 600px;
    width: 95.2%;
    background: url("../images/tree-forest-walking.png") no-repeat center center;
    z-index: 1;
    margin-top: -100px;
    /* Animates zoom effect on loading the page */
    animation-name: hero-zoom;
    animation-duration: 5s;
    animation-fill-mode: forwards;
}

/* Creates the level of zoom for hero image */
@keyframes hero-zoom {
    from {
        transform: scale(1);
    }

    to {
        transform: scale(1.1);
    }
}

#cover-text,
#cover-text h2 {
    color: #ffffff;
}

#cover-text {
    clear: inherit;
    font-size: 130%;
    font-family: roboto;
    text-transform: uppercase;
    letter-spacing: 4px;
    width: 400px;
    height: 200px;
    padding-top: 40px;
    padding-left: 10px;

    background-color: rgba(70, 150, 71, .35);
    top: 350px;
    right: 100px;

    position: absolute;

}

#cover-text a {
    text-decoration: none;
    color: #fff;
}

/* Hiking Ethos */

#hiking-ethos {
    height: 300px;
    position: relative;
    clear: both;
}

#left-ethos {
    width: 33%;
    text-align: center;
    margin-left: 30px;
    float: left;
    position: relative;
    z-index: 50;
}

#left-ethos h3 {
    font-style: italic;
    color: #fff;
    margin-top: -260px;
    background-color: rgba(70, 150, 71, .35);
    margin-left: 160px;
    margin-bottom: -.1rem;
    padding: 5px;
    max-width: 290px;
}

#left-ethos h2 {
    margin-top: 30px;
    margin-bottom: 30px;
}

#center-ethos {
    width: 33%;
    margin-top: -80px;
    margin-left: -40px;
    text-align: left;
    float: left;
    position: relative;
}

#center-ethos h2 {
    padding-left: 70px;
    margin-top: 20px;
    margin-bottom: 10px;
}

#center-ethos p {
    padding-left: 70px;
}

#right-ethos {
    width: 33%;
    margin-top: -82px;
    text-align: left;
    margin-right: 20px;
    float: right;
    position: relative;
}

#right-ethos h2 {
    padding-left: 70px;
    margin-top: 20px;
    margin-bottom: 10px;
}

#right-ethos p {
    padding-left: 70px;
}

/* Trails */

.trail-flex-banner {
    display: flex;
    flex-direction: row;
    justify-content: center;
    line-height: 4rem;
    font-size: 130%;
    background-color: darkcyan;
    margin: 0 30px
}

.flex-container {
    display: flex;
    flex-direction: row;
    font-size: 130%;
    margin: 0 30px;
}

.flex-item-left {
    background-color: burlywood;
    padding: 10px;
    flex: 33.3%;
}

.flex-item-center {
    background-color: aquamarine;
    padding: 10px;
    flex: 33.3%;
}

.flex-item-right {
    background-color: dodgerblue;
    padding: 10px;
    flex: 33.3%;
}

.trail-flex-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 0 20px;
}

.trail-flex-text {
    display: flex;
    justify-content: flex-start;
    margin: 20px;
}

.trail-flex-image {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: baseline;
}

.trail-flex-image img {
    max-width: 100%;
}

.trail-flex-list {
    display: flex;
    justify-content: flex-start;
    margin: 20px;
}

.trail-flex-list ul {
    list-style: none;
    line-height: 2rem;
    font-weight: 500;
}

.trail-flex-link {
    display: flex;
    justify-content: flex-start;
    margin: 20px;
    font-weight: 600;
    align-self: flex-end;
    flex-wrap: wrap;
    font-size: 100%;
}

/* Gallery */


/* Login Page*/

#login {
    height: 600px;
}

#form-activity {
    height: 300px;
    position: relative;
    clear: both;
}

#left-activity {
    width: 33%;
    text-align: center;
    margin-left: 30px;
    float: left;
    position: relative;
    z-index: 50;
}

#left-activity h3 {
    font-style: italic;
    color: #fff;
    margin-top: -260px;
    background-color: rgba(70, 150, 71, .35);
    margin-left: 160px;
    margin-bottom: -.1rem;
    padding: 5px;
    max-width: 290px;
}

#left-activity h2 {
    margin-top: 30px;
    margin-bottom: 30px;
}

#center-activity {
    width: 33%;
    margin-top: -80px;
    margin-left: -80px;
    text-align: left;
    float: left;
    position: relative;
    margin-left: 5px;
}

#center-activity h2 {
    padding-left: 70px;
    margin-top: 20px;
    margin-bottom: 10px;
}

#right-activity {
    width: 33%;
    margin-top: -82px;
    text-align: left;
    float: right;
    position: relative;
}

#right-activity h2 {
    margin-left: 30px;
    margin-top: 20px;
    margin-bottom: 10px;
}

/* Form Subscribe*/

.subscribe-form {
    color: #000;
    position: absolute;
    left: 6%;
    padding: 30px;
    margin-top: -30px;
}

.subscribe-form input {
    color: #000;
    border: 1px solid #000;
    margin: 5px 0;
    width: 60%;
    line-height: 24px;
}

.subscribe-form #email {
    width: 100%;
}

#trailprefs {
    position: absolute;
    left: 50%;
    top: 12%;
}

#trailprefs h4 {
    text-align: center;
}

.subscribe-button {
    margin-top: 20px;
    border-radius: 2px;
    padding: 15px 32px 15px 32px;
    text-align: center;
    font-size: 100%;
    background-color: #ffb31c;
    color: #000;
    display: block;
    max-width: fit-content;
}

.subscribe-button:hover {
    background-color: rgba(50, 50, 50, 0.25);
}

/* Form Log In*/

.login-form {
    color: #000;
    position: absolute;
    padding: 30px;
    margin-top: -30px;
}

.login-form input {
    color: #000;
    border: 1px solid #000;
    margin: 5px 0;
    width: 160%;
    line-height: 24px;
}



.login-button {
    margin-top: 20px;
    border-radius: 2px;
    padding: 15px 32px 15px 32px;
    text-align: center;
    font-size: 100%;
    background-color: #ffb31c;
    color: #000;
    display: block;
    max-width: fit-content;
}

.login-button:hover {
    background-color: rgba(50, 50, 50, 0.25);
}

/* Footer */

.footer-flex-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin: 0 30px;
    height: 100px;
}

.footer-flex-item-left {
    flex: 33.3%;
}

.footer-flex-item-center {
    flex: 33.3%;
    margin-left: auto;
}

.footer-flex-item-right {
    flex: 33.3%;
}

.footer-flex-item-left p {
    margin: 0 20px;
}

.footer-flex-item-center ul {
    display: flex;
    flex-direction: row;
    justify-content: center;
    list-style: none;
    font-size: 250%;
    font-weight: 600; 
    gap: 60px;
}

.footer-flex-item-center a {
    text-decoration: none;
    color: #000;
}

.footer-flex-item-center a:hover {
    color: #551a8b;
}

.footer-button {
    display: flex;
    justify-content: flex-end;
}

.arrowPacman {
    --arrow-width: 20px;
    --arrow-spacer: 4px;
    --arrow-plus-spacer: calc(var(--arrow-width) + var(--arrow-spacer));
    overflow: hidden;
    position: absolute;
    right: -0.2em;
    top: 50%;
    transform: translate(-50%, -50%);
    width: var(--arrow-plus-spacer);
}

.arrowPacman svg {
    height: 16px;
    width: var(--arrow-width);
}

.arrowPacman svg:last-of-type {
    margin-left: var(--arrow-spacer);
}

.arrowPacman-clip {
    align-items: center;
    display: flex;
    overflow: hidden;
    transform: translateX(calc(var(--arrow-plus-spacer) * -1));
    width: calc(var(--arrow-plus-spacer) + var(--arrow-width));
}

@keyframes pacman {
    to {
        transform: translateX(0);
    }
}

button {
    --button-background: transparent;
    --button-color: black;
    background-color: var(--button-background);
    border-radius: 4px;
    border: 0;
    box-shadow: none;
    color: var(--button-color);
    cursor: pointer;
    display: inline-block;
    font-size: 1rem;
    font-weight: 500;
    height: 64px;
    line-height: 1;
    padding-left: 1rem;
    padding-right: 2rem;
    position: relative;
    text-align: left;
    text-decoration: none;
    transition: box-shadow 150ms cubic-bezier(0.61, 1, 0.88, 1);
    white-space: nowrap;
}

button:hover,
button:focus {
    box-shadow: 0 3px 7px 1px rgba(50, 50, 50, 0.25);
}

button:hover .arrowPacman-clip,
button:focus .arrowPacman-clip {
    animation-delay: 150ms;
    animation-duration: 0.8s;
    animation-name: pacman;
    animation-iteration-count: infinite;
    animation-timing-function: cubic-bezier(0.55, 0, 0.21, 1);
}

button.-bg-yellow {
    --button-background: #ffb31c;
}

button>span {
    display: block;
    line-height: 1;
    padding-right: 1.5rem;
}

button>span:first-of-type {
    color: white;
    line-height: 1.5;
}

/* Responsive layout - makes a one column-layout instead of three-column layout */
@media (max-width: 1650px) {

    .trail-flex-header,
    .trail-flex-text,
    .trail-flex-list ul,
    .trail-flex-link {
        font-size: 95%;
    }
}

@media (max-width: 1600px) {

    .trail-flex-header,
    .trail-flex-text,
    .trail-flex-list ul,
    .trail-flex-link {
        font-size: 90%;
    }
}


@media (max-width: 1550px) {

    .trail-flex-header,
    .trail-flex-text,
    .trail-flex-list ul,
    .trail-flex-link {
        font-size: 85%;
    }
}

@media (max-width: 1450px) {

    .trail-flex-header,
    .trail-flex-text,
    .trail-flex-list ul,
    .trail-flex-link {
        font-size: 80%;
    }

    .footer-flex-item-center ul {
        gap:50px;
    }
}

@media (max-width: 1400px) {

    .trail-flex-header,
    .trail-flex-text,
    .trail-flex-list ul,
    .trail-flex-link {
        font-size: 75%;
    }
}

@media (max-width: 1300px) {

    .trail-flex-header,
    .trail-flex-text,
    .trail-flex-list ul,
    .trail-flex-link {
        font-size: 70%;
    }

    .footer-flex-item-center ul {
        gap:40px;
    }
}

@media (max-width: 1250px) {

    .trail-flex-header,
    .trail-flex-text,
    .trail-flex-list ul,
    .trail-flex-link {
        font-size: 60%;
    }

    .site-flex-container { 
        display: flex;
        flex-flow: row wrap;
        width: 80%;
        margin-bottom: 30px;
    }

    .site-flex-list {
        margin-left: 97px;
    }
}

@media (max-width: 1160px) {

    .trail-flex-header,
    .trail-flex-text,
    .trail-flex-list ul,
    .trail-flex-link {
        font-size: 55%;
    }

    .footer-flex-item-left p {
        font-size: 80%;
    }

    .footer-flex-item-center ul {
        gap:30px;
    }
}

@media (max-width: 1050px) {

    .trail-flex-header,
    .trail-flex-text,
    .trail-flex-list ul,
    .trail-flex-link {
        font-size: 50%;
    }

    .footer-flex-item-center ul {
        gap:20px;
    }
}

@media (max-width: 960px) {

    .trail-flex-header,
    .trail-flex-text,
    .trail-flex-list ul,
    .trail-flex-link {
        font-size: 40%;
    }

    .site-flex-header { 
        font-size: 220%;
    }

    .site-flex-list ul {
        font-size: 120%;
    }
}

@media (max-width: 850px) {
    .site-flex-header { 
        font-size: 200%;
    }

    .site-flex-list ul {
        font-size: 100%;
    }

    .footer-flex-item-center ul {
        gap:10px;
    }
}

@media (max-width: 800px) {
    .flex-container {
        flex-direction: column;
    }

    .footer-flex-container {
        flex-direction: column;
    }

    .trail-flex-header,
    .trail-flex-text,
    .trail-flex-list ul,
    .trail-flex-link, 
    .trail-flex-banner {
        font-size: 100%;
    }

    .footer-flex-item-left p {
        margin: 30px 20px;
        font-size: 100%;
    }

    .footer-flex-item-center {
        margin: auto;
    }

    .footer-flex-item-center ul {
        gap:60px;
    }

    .footer-button {
        margin: 30px 0;
    }
}

@media (max-width: 750px) {
    .site-flex-header { 
        font-size: 180%;
    }

    .site-flex-list ul {
        font-size: 100%;
    }
}

@media (max-width: 700px) {
    .site-flex-header { 
        font-size: 150%;
    }

    .site-flex-list ul {
        font-size: 95%;
    }
}

@media (max-width: 650px) {

    .trail-flex-header,
    .trail-flex-text,
    .trail-flex-list ul,
    .trail-flex-link,
    .trail-flex-banner {
        font-size: 90%;
    }
}

@media (max-width: 600px) {
    .site-flex-header { 
        font-size: 130%;
    }

    .site-flex-list ul {
        font-size: 90%;
    }
}

@media (max-width: 550px) {

    .trail-flex-header,
    .trail-flex-text,
    .trail-flex-list ul,
    .trail-flex-link {
        font-size: 80%;
    }

    .site-flex-header { 
        font-size: 120%;
    }

    .site-flex-list ul {
        font-size: 90%;
    }

    .footer-flex-item-center ul {
        gap:40px;
    }
}

@media (max-width: 500px) {

    .trail-flex-header,
    .trail-flex-text,
    .trail-flex-list ul,
    .trail-flex-link {
        font-size: 70%;
    }

    .site-flex-header { 
        font-size: 100%;
    }

    .site-flex-list ul {
        font-size: 90%;
    }

}

@media (max-width: 480px) {

    .trail-flex-header,
    .trail-flex-text,
    .trail-flex-list ul,
    .trail-flex-link,
    .trail-flex-banner {
        font-size: 50%;
    }

    .site-flex-header { 
        font-size: 90%;
    }

    .site-flex-list ul {
        font-size: 80%;
    }

    .footer-flex-item-center ul {
        gap:20px;
    }

}


@media (max-width: 425px) {

    .site-flex-header { 
        font-size: 80%;
    }

    .site-flex-list ul {
        font-size: 75%;
    }

}

@media (max-width: 385px) {

    .site-flex-header { 
        font-size: 73%;
    }

    .site-flex-list ul {
        font-size: 70%;
        margin-left: -80px;
    }

    .trail-flex-banner {
        font-size: 40%;
    }

    .footer-flex-item-center ul {
        gap:10px;
    }
}

/* Smallest screensize in active use is 320 pixels wide on the iPhone 5 
   So this media cutoff works well down to that size*/
@media (max-width: 360px) {

    .trail-flex-header,
    .trail-flex-text,
    .trail-flex-list ul,
    .trail-flex-link {
        font-size: 40%;
    }

    .site-flex-header { 
        font-size: 65%;
    }

    .site-flex-list ul {
        font-size: 70%;
    }

}

/* Smallest screensize in active use is 320 pixels wide on the iPhone 5 
   But this is just to manage the text size*/

@media (max-width: 340px) {

    .site-flex-header { 
        font-size: 59%;
    }

    .site-flex-list ul {
        font-size: 70%;
    }

}